*{
margin: 0;
padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: mediumpurple;
    color: white; 
    display: flex;  
    align-items: center;
}

.navbar {
    background-color: mediumpurple;
   
}

.nav-list {
    list-style: none; 
    margin: 0;
    display: flex; 
}

.nav-list li {
    margin-left: 20px; 
    margin-right: 20px;
}
.nav-list li a {
    color: white; 
    text-decoration: none; 
    font-size: 1.0em; 
}
.nav-list li a:hover {
    background-color: darkorchid; 
    color: white; 
    border-radius: 10px;
}

li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10px;
    margin: 5px;
}

li a:hover {
    background-color: #45a049;
}
footer {
    background-color:mediumpurple;
    color: white;
    text-align: center;
    padding: 10px 0;
}
