*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: mediumpurple;
    color: white; 
    display: flex;  
    text-align: center; 
    }

.nav-list {
    list-style: none; 
    display: flex; 
}
.nav-list li {
    margin-left: 10px; 
    margin-right: 10px;
    width: 100%;
}

.nav-list li a {
    color: white; 
    text-decoration: none; 
    font-size: 1.0em; 
}
.nav-list li a:hover {
    background-color: darkorchid; 
    color: white; 
    border-radius: 10px;
}


h1, h2 {
    color: #000000;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
h2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 15px;
}
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

cite {
    font-style: italic;
    display:block;
    text-align: center;
    font-size: 1.3rem;
    color: #555;
    margin: 10px 0;
}
footer {
    background-color:mediumpurple;
    color: white;
    text-align: center;
    padding: 10px;
    
}
video {
    width: 100%; 
    max-width: 800px; 
    height: auto; 
    border: 2px solid #4a4a4a; 
    border-radius: 8px; 
    display: block; 
}
